*{
    box-sizing: border-box ;
    /*margin: 0;
    padding: 0;*/
}
.flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
}
.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.item-2{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}